body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #F0F5F3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.signup-container {
  background: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}

.logo {
  font-size: 32px;
  margin-bottom: 20px;
  color: #3BA99C;
  cursor: pointer;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

button {
  background-color: #A8D5BA;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #4bbda4;
}

.login-link {
  margin-top: 15px;
  font-size: 12px;
}

.login-link a {
  color: #666;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.message {
  margin-top: 10px;
  font-size: 12px;
  /* color: red; */
  color: rgb(255, 57, 57);
}